{% extends 'blog_app/base.html' %}
{% block title %}Index{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    <!-- <a href="login">Login</a>
    <a href="signup">Signup</a> -->

    <!-- Display blogs -->
    <div class="container-fluid">
            {% if blogs %}
            <ul>
                {% for blog in blogs %}
                    <li><h4><a href="{% url 'blogs:detail' blog.id %}">{{ blog.title }}</a></h3></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no posts available.</p>
        {% endif %}
    </div>
    <!-- End of display blogs -->

{% endblock %}